body {
  background-color: rgb(111, 36, 146);
}

header{
  font-size: 26px;
  color: purple;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  text-align: center;
  background-color: rgb(135, 243, 146);
  margin: 0 600px 0 600px;
  padding-bottom: 30px;
  cursor: pointer;
}

form input {
  background-color: rgb(235, 219, 235);
  border-radius: 5px;
  height: 20px;
  margin-right: 10px;
}

form input::placeholder {
  color: rgb(77, 81, 81);
  font-family: cursive, sans-serif;

}

form input:focus{
  outline: none;
}

button {
  background-color: rgb(235, 219, 235);
  border-radius: 5px;
  font-family: cursive, sans-serif;
  color: black;
}